<app-navbar></app-navbar>

<app-carousel *ngIf="cards.length!=0" [cards]="cards" (selectionChange)='selection($event)'></app-carousel>

<app-calendar *ngIf="selected!=0" tipoPrestamo="Scenario" [events]="events" (bookingChange)="booking($event)"></app-calendar>

<div class="text-center mt-5">
    <div *ngIf='ok' class="alert alert-success" role="alert">
      La reserva se ha creado correctamente.
    </div>
  <button type="button" (click)="send()" class="btn btn-primary btn-lg" [disabled]="disable">Enviar</button>
</div>